body{
  background: white;
}
.emp-profile{
  padding: 3%;
  margin-top: 4%;
  margin-bottom: 4%;
  border-radius: 0.5rem;
  background: whitesmoke;
}
.profile-img{
  text-align: center;
}
.profile-img img{
  width: 80%;
  height: 80%;
}

.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 50%;
  border: none;
  border-radius: 0;
  font-size: 10px;
  background: #212529b8;
}
.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}
.profile-head h5{
  color: #333;
}
.profile-head h6{
  color: #0062cc;
}
.profile-edit-btn{
  border: none;
  border-radius: 1.5rem;
  width: 70%;
  padding: 2%;
  font-weight: 600;
  color: #6c757d;
  cursor: pointer;
}
.proile-rating{
  font-size: 12px;
  color: #818182;
  margin-top: 5%;
}
.proile-rating span{
  color: #495057;
  font-size: 15px;
  font-weight: 600;
}
.profile-head .nav-tabs{
  margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
  font-weight:600;
  border: none;
}
.profile-head .nav-tabs .nav-link.active{
  border: none;
  border-bottom:2px solid #0062cc;
}
.profile-work{
  padding: 14%;
  margin-top: -15%;
}
.profile-work p{
  font-size: 12px;
  color: #818182;
  font-weight: 600;
  margin-top: 10%;
}
.profile-work a{
  text-decoration: none;
  color: #495057;
  font-weight: 600;
  font-size: 14px;
}
.profile-work ul{
  list-style: none;
}
.profile-tab label{
  font-weight: 600;
}
.profile-tab p{
  font-weight: 600;
  color: #0062cc;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}



@import url('https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700');

:root {
--color: #3c3163;
--transition-time: 0.5s;
}

* {
box-sizing: border-box;
}

body {
margin: 0;
min-height: 100vh;
font-family: 'Open Sans';
background: #fafafa;
}

a {
color: inherit;
}

.blog-cards-wrapper {
display: grid;
justify-content: center;
align-items: center;
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 4rem;
padding: 4rem;
margin: 0 auto;
width: max-content;
}

.blogg-card {
font-family: 'Heebo';
--bg-filter-opacity: 0.5;
background-image: linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
height: 20em;
width: 15em;
font-size: 1.5em;
color: white;
border-radius: 1em;
padding: 1em;
/*margin: 2em;*/
display: flex;
align-items: flex-end;
background-size: cover;
background-position: center;
box-shadow: 0 0 5em -1em black;
transition: all, var(--transition-time);
position: relative;
overflow: hidden;
border: 10px solid #ccc;
text-decoration: none;
}

.blogg-card:hover {
transform: rotate(0);
}

.blogg-card h1 {
margin: 0;
font-size: 1.5em;
line-height: 1.2em;
}

.blogg-card p {
font-size: 0.75em;
font-family: 'Open Sans';
margin-top: 0.5em;
line-height: 2em;
}

.blogg-card .tags {
display: flex;
}

.blogg-card .tags .tag {
font-size: 0.75em;
background: rgba(255,255,255,0.5);
border-radius: 0.3rem;
padding: 0 0.5em;
margin-right: 0.5em;
line-height: 1.5em;
transition: all, var(--transition-time);
}

.blogg-card:hover .tags .tag {
background: var(--color);
color: white;
}

.blog-card .date {
position: absolute;
top: 0;
right: 0;
font-size: 0.75em;
padding: 1em;
line-height: 1em;
opacity: .8;
}
.blogg-card .more {
position: absolute;
top: 0;
right: 0;
font-size: 0.75em;
padding: 1em;
line-height: 1em;
opacity: .8;
}

.blog-card:before, .blog-card:after {
content: '';
transform: scale(0);
transform-origin: top left;
border-radius: 50%;
position: absolute;
left: -50%;
top: -50%;
z-index: -5;
transition: all, var(--transition-time);
transition-timing-function: ease-in-out;
}

.blog-card:before {
background: #ddd;
width: 250%;
height: 250%;
}

.blog-card:after {
background: white;
width: 200%;
height: 200%;
}

.blog-card:hover {
color: var(--color);
}

.blog-card:hover:before, .blog-card:hover:after {
transform: scale(1);
}

.blog-card-grid-space .num {
font-size: 3em;
margin-bottom: 1.2rem;
margin-left: 1rem;
}

.info {
font-size: 1.2em;
display: flex;
padding: 1em 3em;
height: 3em;
}

.info img {
height: 3em;
margin-right: 0.5em;
}

.info h1 {
font-size: 1em;
font-weight: normal;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
.blog-cards-wrapper {
  grid-template-columns: 1fr 1fr;
}
}

@media screen and (max-width: 900px) {
.blog-cards-wrapper {
  grid-template-columns: 1fr;
}
.info {
  justify-content: center;
}
.blog-card-grid-space .num {
  margin-left: 0;
  text-align: center;
}
}

@media screen and (max-width: 500px) {
.blog-cards-wrapper {
  padding: 4rem 2rem;
}
.blog-card {
  max-width: calc(100vw - 4rem);
}
}

@media screen and (max-width: 450px) {
.info {
  display: block;
  text-align: center;
}
.info h1 {
  margin: 0;
}
}

.sigle-card {
  height: 100%;
  
}
.single-card-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* notification */
.glyphicon-bell {
   
  font-size:1.5rem;
}

.notifications {
 min-width:500px; 
 min-height: 100px;
}

.notifications-wrapper {
   overflow:auto;
  max-height: 500px;
  }
.menu-title {
  color: #000000;
  font-size: 1.8rem;
  display: inline-block;
  font-weight: bold;
}

.glyphicon-circle-arrow-right {
    margin-left:10px;     
 }

 
.notification-heading, .notification-footer  {
    padding:2px 10px 10px 2px;
}
    
      
.dropdown-menu.divider {
margin:5px 0;          
}

.item-title {
  font-size: 1.3rem;
  color: #000;
  font-weight: bold;
  margin: 5px 0px;
}
.item-info{
  color: rgb(56, 52, 52);
  font-size: 1.3rem;
}

.item-title small {
  font-size: 1.0rem;
  color: #000;
}

.notifications a.content {
  text-decoration: none;
  display: block;
  color:#000;
}
.notification-item {
  position: relative;
  padding-left: 70px;
  padding-bottom: 0px;
}
.notification-item img {
  position: absolute;
  top: 7px;
  left: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 5px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
ul.dropdown-menu.notifications .notifications-wrapper a.content {
  padding: 0px !important;
  background: rgba(0, 0, 0, 0.04);
  border-bottom: 1px solid #d1d1d1;
}
ul.dropdown-menu.notifications .notifications-wrapper a.content:hover {
  color: #000;
  background: rgba(53, 28, 28, 0.1);
}
.login-nav ul.nav.navbar-nav.navbar-right li a {
  display: block;
}
.notification-heading {
  background: rgb(255, 255, 255);
  font-size: 1.8rem;
  padding: 3px 10px;
}
.notifications a.content {
  text-decoration: none;
  display: block;
}
ul.dropdown-menu.notifications {
  padding: 0px;
}
.dropdown .glyphicon-bell {  
  vertical-align: middle;
}
.dropdown{
  list-style:none;
}


@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');

/* Base styling */

.search__container {
        padding-left: 64px;
    }

.search__input {
        width: 100%;
        padding: 12px 24px;

        background-color: transparent;
        transition: transform 250ms ease-in-out;
        font-size: 14px;
        line-height: 18px;
        color: black;
        background-color: transparent;
/*         background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg); */
 
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: 18px 18px;
        background-position: 95% center;
        border-radius: 50px;
        border: 1px solid #575756;
        transition: all 250ms ease-in-out;
        backface-visibility: hidden;
        transform-style: preserve-3d;
    }

.search__input::placeholder {
            color:  black;
            letter-spacing: 1.5px;
        }

.search__input:hover,
        .search__input:focus {
            padding: 12px 0;
            outline: 0;
            border: 1px solid transparent;
            border-bottom: 1px solid #575756;
            border-radius: 0;
            background-position: 100% center;
        }
